*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color: #331D2C;
    color: white;

}

/* nav */
nav{
    background-color: #3F2E3E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none; /*removes underline */
    color: white;
}

nav ul li a:hover{
    color: #d65b9b;
}

.left{
    font-size: 1.5rem;
}

/* main */
.firstSection{  
    display: flex;
    justify-content: center;
    margin: 23px 0;
}


.leftSection{
    margin: 244px 0;
    width: 37%;
    font-size: 2.5rem;
}

.resume{
    font-style: bold;
    padding: 10px;
    font-size: 1rem;
    background: #331D2C;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.resume:hover{
    background: white;
    color: #331D2C;
}
.github{
    padding: 10px;
    margin-left: 15px;
    font-size: 1rem;
    font-style: bold;
    color: #000000;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;

}

.github:hover{
    background: #331D2C;
    color: white;
}


.rightSection img{
    margin: 0 30px 0 90px;
}

.offwhite{
    color: #d65b9b;
}

/* second section */
.projects{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
